<!--  Create a form to add a new article -->
<!--  to inherit the base html  -->
{% extends "base.html" %}

<!-- add the following to support translation -->
{% load i18n %}


{% block page_title %}
    <h2> {% trans "Add a new article" %} </h2>
{% endblock page_title %}

{% block page_content %}
  <section>
    <form class="form-control" method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        {{ form.as_p }}
        <button class="form-submit">{% trans "Add new Article" %}</button>
    </form>
  </section>
  {% endblock page_content %}
