<!--  An article show page to show the detail content of each article  -->

<!--  to inherit the base html  -->
{% extends "base.html" %}

{% block page_title %}
    <h2>{{ article.title }}</h2>
{% endblock page_title %}

{% block page_content %}
    <small>
        {{ article.publication_date.date }}:
    </small>
    {% comment %} <a href="{% url 'article_show' article.pk %}" method="POST">🗑️ Delete this article</a> {% endcomment %}
    <form method="POST">
      <!-- Security token by Django -->
      {% csrf_token %}
      <input type="submit" value="🗑️ Delete this article ?" />
  </form>
    <p>{{ article.content | linebreaks }}</p>
{% endblock page_content %}
