<!--  An article show page to show the detail content of each article  -->

<!--  to inherit the base html  -->
{% extends "base.html" %}
<!--  load i18n for internationalisation translation  -->
{% load i18n %}

<!--  block of page title with the article title from the view -->
{% block page_title %}
    <h2>{{ article.title }}</h2>
{% endblock page_title %}

<!--  block of page content with publish date from view  -->
{% block page_content %}
    <small>
        {{ article.publication_date.date }}:
    </small>
    <form method="POST">
      <!-- Security token by Django -->
      {% csrf_token %}
      <input type="submit" value= "{% trans "🗑️ Delete this article ?" %}" />
  </form>
    <p>{{ article.content | linebreaks }}</p>
{% endblock page_content %}
